@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&family=Zen+Kaku+Gothic+New&family=Zen+Old+Mincho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #080825ff;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
}

.sidebar{
    max-width: 200px;
    width: 15%;
    height: 100vh;
    border-right: 1px solid #fff;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    z-index: 20;
}

.sidebar li:hover,
.sidebar li.active {
  color: #00ff88;
}

.logo{
    padding: 15px;
    padding-left: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
}

.logo p{
    font-size: 1.5rem;
    color: #0dfc5e;
    color: white;
}

ul{

    margin-top: 30px;
 
}
ul li{
    padding: 10px;
    cursor: pointer;
    list-style: none;
    transition: all 0.4s ease;
    color: #fff;
}

ul li:hover{
    padding-left: 15px;
}

.main{
    max-width: 100%;
    flex: 1;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    /* background: red; */
}

.table-container {

  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  padding-inline: 20px;

}

.crypto-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}

.crypto-table thead {
  width: 100%;
  background: #14143a;
  text-align: left;
  position: sticky;
  top: 0; /* Sticks below the controls */
  z-index: 9;

}

.crypto-table th,
.crypto-table td {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.crypto-table tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transition: 0.3s ease;
}

.crypto-table img {
  border-radius: 50%;
}


.controls {
  width: 100%;
  margin: 20px auto;
  padding-bottom: 7px;
  padding-inline: 20px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;

}

.controls p {
  font-size: 2rem;
  color:#0dfc5e;
}

#searchCoin {
  padding: 10px;
  flex: 1;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background: #1b1b3a;
  color: white;
}

#searchCoin::placeholder {
  color: #aaa;
}

.search-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.load-more-container {
  text-align: center;
  margin: 20px;
}

#loadMoreBtn {
  background: #00ff88;
  border: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

#loadMoreBtn span{
  font-size: 1.3rem;
  margin-left: 5px;
  vertical-align: middle;
  animation: spin 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loadMoreBtn:hover {
  background: #23e664ff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#toast{
  display: none;
  position: fixed;
  padding: 10px 20px;
  background: #00ff88;
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  top: 2%;
  left: 45%;
  border-radius: 5px;
  font-size: 1rem;
  z-index: 10;
  animation: slideIn 0.5s ease;
}

@keyframes slideIn {
  from {
    scale: 0.9;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}



/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  /* background-color: #12123a; */
  padding: 30px;
  border-radius: 15px;
  color: white;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 255, 136, 0.7);
  position: relative;
  animation: fadeIn 0.3s ease;
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #00ff88;
  transition: 0.3s;
}

#closeModal:hover {
  color: #0dfc5e;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.modal img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.popup-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#buy-btn {
  background-color: #f3ba2f;
  color: #000;
  color: white;
}

#buy-btn:hover{
  background-color: #ffd84d;
}

#details-btn{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  
}

#details-btn:hover{
  background-color: white;
  color: #000;
}


.news-card:hover {
  transform: scale(1.01);
  /* box-shadow: 0 0 10px #00ff88; */
}

#newsSection{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#newsContainer{
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

#blogSection{
  display: flex;
  flex-direction: column;
  height: 100%;
  /* gap: 10px; */
}


#blogContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-width: none;

}

.hamburger {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1rem;
  background: rgba(10, 10, 35, 0.8);
  color: white;
  z-index: 30;
  cursor: pointer;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}


